.player {
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 50px 0 0 50px;
    background-color: rgba(50, 50, 50, 0.8);

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 100%;
    }
}

.player-active {
    background-color: white !important;
}