.player {
    display: flex;
    align-items: center;
    width: 300px;
    backdrop-filter: blur(2px);
    background-color: white;
    border-radius: 50px 0 0 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 100%;
    }
}