.start-screen {
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/background/ring_of_fire.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: cover;
        width: 100vw;
    }
}

button {
    height: 100px;
    z-index: 1;
}