<div class="players">
    <app-player *ngFor="let player of game.players; let i=index;" [playerActive]="i == game.currentPlayer"
        [name]="player"></app-player>
</div>
<div class="field">
    <div class="card-stack">

        <!-- Card stack -->
        <img src="/assets/img/playing_cards/playing_cards-master/card_cover.png" alt=""
            *ngFor=" let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}">


        <img (click)="takeCard()" class="top-card" style="right: 25px;"
            src="/assets/img/playing_cards/playing_cards-master/card_cover.png" alt="">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card"
            src="/assets/img/playing_cards/playing_cards-master/{{ card }}.png" alt="">

        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px;"
            src="/assets/img/playing_cards/playing_cards-master/{{ game.currendCard }}.png" alt="">

    </div>
</div>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>


<app-game-rules [card]="game.currendCard"></app-game-rules>