@media (max-width: 1440px) {
    .card-stack {
        img {
            width: 100px;
        }
    }

    .played-card {
        transform: scale(1.3) translateX(140px) translateY(-160px) rotate(-10deg);
    }

    .pick-card {
        animation: pic-card-animation 1s ease-in-out;
        transform: scale(1.3) translateX(140px) translateY(-160px) rotate(-10deg);

    }

    @keyframes pic-card-animation {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.3);
        }

        50% {
            transform: scale(1.3);
        }

        100% {
            transform: scale(1.3) translateX(140px) translateY(-160px) rotate(-10deg);
        }
    }
}



@media (max-width: 1024px) {
    .players {
        padding-top: 48px;
        gap: 48px;
        overflow: scroll;
        height: 65%;
    }
}

@media (max-width: 600px) {
    .players {
        padding-top: 48px;
        gap: 24px;
    }
}

@media (max-height: 850px) {
    .players {
        padding-top: 48px;
        gap: 48px;
        overflow: scroll;
        height: 65%;
    }


    @media (max-height: 500px) {
        .card-stack {
            img {
                width: 70px;
                margin-bottom: 100px;
            }
        }

        .played-card {
            transform: scale(1.3) translateX(100px) translateY(-120px) rotate(-10deg);
        }

        .pick-card {
            animation: pic-card-animation 1s ease-in-out;
            transform: scale(1.3) translateX(100px) translateY(-120px) rotate(-10deg);

        }

        @keyframes pic-card-animation {
            0% {
                transform: scale(1);
            }

            40% {
                transform: scale(1.3);
            }

            50% {
                transform: scale(1.3);
            }

            100% {
                transform: scale(1.3) translateX(100px) translateY(-120px) rotate(-10deg);
            }
        }

    }

    @media (max-height: 420px) {
        .card-stack {
            img {
                width: 50px;
            }

            bottom: 30px;
        }

        .played-card {
            transform: scale(1.3) translateX(120px) translateY(-85px) rotate(-10deg);
        }

        .pick-card {
            animation: pic-card-animation 1s ease-in-out;
            transform: scale(1.3) translateX(120px) translateY(-85px) rotate(-10deg);

        }

        @keyframes pic-card-animation {
            0% {
                transform: scale(1);
            }

            40% {
                transform: scale(1.3);
            }

            50% {
                transform: scale(1.3);
            }

            100% {
                transform: scale(1.3) translateX(120px) translateY(-85px) rotate(-10deg);
            }
        }
    }

    @media (max-width: 420px) {
        .card-stack {
            left: 100px;

            img {
                width: 50px;
                margin-bottom: 150px;
            }
        }

        .played-card {
            transform: scale(1.3) translateX(20px) translateY(-140px) rotate(-10deg);
        }

        .pick-card {
            animation: pic-card-animation 1s ease-in-out;
            transform: scale(1.3) translateX(20px) translateY(-140px) rotate(-10deg);

        }

        @keyframes pic-card-animation {
            0% {
                transform: scale(1);
            }

            40% {
                transform: scale(1.3);
            }

            50% {
                transform: scale(1.3);
            }

            100% {
                transform: scale(1.3) translateX(20px) translateY(-140px) rotate(-10deg);
            }
        }
    }
}