.players {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 62px;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;

}

.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('/assets/img/background/ring_of_fire.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

}

.played-card {
    right: 25px;
    transform: scale(1.7) translateX(140px) translateY(-160px) rotate(-10deg);
}

.pick-card {
    animation: pic-card-animation 1s ease-in-out;
    transform: scale(1.7) translateX(140px) translateY(-160px) rotate(-10deg);

}

@keyframes pic-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.7) translateX(140px) translateY(-160px) rotate(-10deg);
    }
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}