:host {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

mat-panel-description {
    font-size: 8px;
    flex-grow: 1;
}


mat-expansion-panel-header {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.description-card {
    display: block !important;
}


@media (max-width: 600px) {
    :host {
        max-height: 90px;
        overflow-y: scroll;
        left: 24px;

    }
}

@media (max-height: 500px) {
    :host {
        max-height: 90px;
        overflow-y: scroll;
        bottom: 16px;
    }
}

@media (max-width: 320px) {
    :host {
        left: 24px;
    }
}