<mat-card *ngIf="srcreenHeigt > 400px">
    <mat-card-title>{{ card ? title : 'Pick card' }}</mat-card-title>
    <mat-card-content>{{ card ? description : 'Please click on the stack to select a card' }}</mat-card-content>
</mat-card>

<mat-expansion-panel *ngIf="srcreenHeigt <= 400px" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ card ? title : 'Pick a card' }}
        </mat-panel-title>
        <mat-panel-description>
            tap to open/close
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{card ? description: 'Please click on the stack to select a card'}}</p>
</mat-expansion-panel>